<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Filmography

    <a data-toggle="collapse" href="#director_filmography_new_form">
      Add movie
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @director.filmography.each do |movie| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/movies/<%= movie.id %>">
          <%= movie.title %>
        </a>

        <a href="/delete_movie_from_director/<%= movie.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="director_filmography_new_form">
        <%= render partial: "director_templates/director_filmography_new_form" %>
      </div>
    </div>

  </ul>
</div>
