<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Roles

    <a data-toggle="collapse" href="#movie_roles_new_form">
      Add role
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @movie.roles.each do |role| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/roles/<%= role.id %>">
          <%= role.character_name %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_role_from_movie/<%= role.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="movie_roles_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
